body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #848484;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  color: #EAEAE3;
}

a {
  color: #EAEAE3;
  text-decoration: none;
}

.header-footer-bar h4 {
  margin: 0 1rem;
}

.app {
  width: 100vw;
  background-color: #848484;
  min-height: 100vh;
}

.hero-section img {
  display: flex;
  align-items: center;
  width: 720px;
  height: 200px;
  box-shadow: 0px 5px 5px;
  border-radius: 25px;
  margin: auto;
  margin-top: 1rem;
  object-fit: cover;
}


.graph-placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  text-justify: auto;
  margin: auto;
}

.header-footer-bar {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  background-color: #090F14;
}

.footer {
  color: #EAEAEA;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.content-header-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  text-align: center;
}

.content-box-home {
  width: 230px;
  height: 212px;
  background-color: #090F14;
  box-shadow: 0px 5px 5px;
  margin-top: 10px;
  border-radius: 10px;
}

.graph-container-home {
  display: flex;
  align-items: center;
  width: 355px;
  height: 286px;
  background-color: #090F14;
  box-shadow: 0px 5px 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.market-news-home {
  width: 720px;
  height: 281px;
  background-color: #090F14;
  box-shadow: 0px 5px 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.content-area-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 720px;
  height: 100%;
  margin: auto;
}

.transactions {
  width: 237px;
  height: 356px;
  background-color: #090F14;
  box-shadow: 0px 5px 5px;
  margin-top: 10px;
  border-radius: 10px;
}

.spend-analyzer {
  width: 465px;
  height: 356px;
  background-color: #090F14;
  box-shadow: 0px 5px 5px;
  margin-top: 10px;
  border-radius: 10px;
}

.content-area-transactions {
  display: flex;
  justify-content: space-between;
  width: 720px;
  height: 67vh;
  margin: auto;
}